<header>
    <nav class="bg-gray-900 w-full">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-24">
                <div class="flex items-center justify-start">
                    <div class="flex-shrink-0">
                        <a href="{% url 'index' %}" class="text-white text-4xl font-semibold">InfoStat</a>
                    </div>
                </div>
                <div class="flex-1 flex items-center justify-center sm:justify-start">
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex space-x-4">
                            <a href="{% url 'liste_secteur' %}" class="text-gray-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded text-sm">Secteurs</a>
                            <a href="#discussion" class="text-gray-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded text-sm">Rapports</a>
                            <a href="#" class="text-gray-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded text-sm">Daily Data</a>
                            <a href="{% url 'recherche' %}" class="text-gray-300 hover:bg-blue-700 hover:text-white px-3 py-2 rounded text-sm">Rechercher</a>
                        </div>
                    </div>
                </div>
                <button class="bg-transparent hover:bg-gray-700 text-white font-semibold hover:text-white py-2 px-4 border border-white rounded">
                    se connecter
                </button>
            </div>
        </div>
    </nav>
</header>