{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="flex flex-col items-center">
        <div class="max-w-5xl w-full py-14">
            <span class="text-2xl font-light">Ajouter une infographie</span>
            <form method="post" class="mt-6">
                {% csrf_token %}
                {{form.errors}}
                <div class="form-group">
                    <label class="block mb-2 text-sm font-medium text-gray-800">Titre*</label>
                    {{form.titre}}
                </div>
                <div class="form-group mt-2">
                    <label class="block mb-2 text-sm font-medium text-gray-800">Description*</label>
                    {{form.description}}
                </div>
                <div class="flex mt-2 justify-between space-x-3">
                    <div class="form-group mt-2 w-1/2">
                        <label class="block mb-2 text-sm font-medium text-gray-800">Source*</label>
                        {{form.source}}
                    </div>
                    <div class="form-group mt-2 w-1/2">
                        <label class="block mb-2 text-sm font-medium text-gray-800">Période d'enquête*</label>
                        {{form.periode_enquete}}
                    </div>
                </div>
                <div class="flex mt-2 justify-between">
                    <div class="form-group">
                        <label class="block mb-2 text-sm font-medium text-gray-800">Thème*</label>
                        {{form.theme}}
                    </div>
                    <div class="form-group">
                        <label class="block mb-2 text-sm font-medium text-gray-800">Région*</label>
                        {{form.region}}
                    </div>

                    <div class="form-group">
                        <label class="block mb-2 text-sm font-medium text-gray-800">Type de Graphique*</label>
                        {{form.type_graphique}}
                    </div>

                    <div class="form-group">
                        <label class="block mb-2 text-sm font-medium text-gray-800">Titre de l'axe des abscisses*</label>
                        {{form.x_titre}}
                    </div>

                    <div class="form-group">
                        <label class="block mb-2 text-sm font-medium text-gray-800">Titre de l'axe ordonnées*</label>
                        {{form.y_titre}}
                    </div>
                </div>
                {{ formset.management_form }}
                <div class="mt-2 flex flex-col" id="formset-div">
                    {% for courbe_form in formset %}
                        <div class="form-group">
                            <label class="block mb-2 text-sm font-medium text-gray-800 w-1/2">Titre de la de courbe</label>
                            {{courbe_form.titre}}
                        </div>

                        <div class="form-group">
                            <label class="block mb-2 text-sm font-medium text-gray-800 w-1/2">Valeurs de x</label>
                            {{courbe_form.x_valeurs}}
                        </div>

                        <div class="form-group">
                            <label class="block mb-2 text-sm font-medium text-gray-800 w-1/2">Valeurs de y</label>
                            {{courbe_form.y_valeurs}}
                        </div>
                    {% endfor %}
                </div>
                <button type="button" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full mt-5" id="add-form">Ajouter une courbe</button>
                <div class="mt-2">
                    {{ graph_html|safe }}
                </div>
                <div class="flex space-x-3">
                    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full mt-5" name="submit_type" value="send">Envoyer</button>
                    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full mt-5" name="submit_type" value="preview">Previsualiser</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        const addButton = document.getElementById("add-form");
        const formsetDiv = document.getElementById("formset-div");
        const totalFormsInput = document.getElementById("id_form-TOTAL_FORMS");
        let formNum = formsetDiv.children.length / 3;

        addButton.addEventListener('click', addForm);

        function addForm(e) {
            e.preventDefault();

            const newFormsetTitre = document.createElement("div");
            newFormsetTitre.classList.add("form-group");
            newFormsetTitre.innerHTML = `
                <label class="block mb-2 text-sm font-medium text-gray-800 w-1/2">Titre de la courbe</label>
                <input type="text" name="form-${formNum}-titre" class="block w-full rounded border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 w-full" maxlength="100" id="id_form-${formNum}-x_valeurs" value="">
            `;

            const newFormsetX = document.createElement("div");
            newFormsetX.classList.add("form-group");
            newFormsetX.innerHTML = `
                <label class="block mb-2 text-sm font-medium text-gray-800 w-1/2">Valeurs de x</label>
                <input type="text" name="form-${formNum}-x_valeurs" class="block w-full rounded border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 w-full" maxlength="100" id="id_form-${formNum}-x_valeurs" value="">
            `;

            const newFormsetY = document.createElement("div");
            newFormsetY.classList.add("form-group");
            newFormsetY.innerHTML = `
                <label class="block mb-2 text-sm font-medium text-gray-800 w-1/2">Valeurs de y</label>
                <input type="text" name="form-${formNum}-y_valeurs" class="block w-full rounded border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 w-full" maxlength="100" id="id_form-${formNum}-y_valeurs" value="">
            `;
            formNum ++
            
            formsetDiv.appendChild(newFormsetTitre);
            formsetDiv.appendChild(newFormsetX);
            formsetDiv.appendChild(newFormsetY);

            totalFormsInput.setAttribute("value", formNum);
        };
    </script>
    

{% endblock body %}