{% extends 'base.html' %}

{% block body %}
    <div class="flex flex-row justify-center">
        <div class="max-w-6xl bg-gray-100 w-full">
            <div class="pt-14 flex flex-col items-center bg-white border border-gray-300">
                <h1 class="text-5xl text-gray-600">
                    Tous les secteurs
                </h1>
                <h1 class="text-4xl font-light mt-3">
                    Tous les secteurs et leurs thèmes associées
                </h1>
                <form method="get" class="w-full max-w-xl pb-3">
                    <div class="relative mt-14">
                        {{ form.result }}
                        <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">rechercher</button>
                    </div>
                </form>
            </div>

            <div class="pt-6 flex flex-wrap justify-center pb-14 border border-gray-300">
                {% for secteur in secteurs %}
                    <div class="m-6 p-6 bg-white w-80 h-72 shadow-custom overflow-auto rounded">
                        <a href="{% url 'secteur' secteur.id %}" class="text-gray-600 underline font-medium">{{secteur.nom}}</a>
                        <div class="flex flex-col mt-3">
                            {% for theme in secteur.themes.all %}
                                <a href="{% url 'theme' theme.id %}" class="text-blue-600 hover:underline">{{theme.nom}}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    </div>
{% endblock body %}