{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="flex items-center flex-col">
        <div class="max-w-6xl w-full p-14 border border-gray-300">
            <div class="flex items-center">
                <a href="{% url 'liste_secteur' %}" class="text-blue-600 mr-2 hover:underline">Secteurs</a>
                <img src={% static 'arrow.svg' %} class="h-3 mr-2">
            </div>

            <div class="flex items-start">
                <div class="mt-6 flex flex-row w-2/3 pr-14">
                    <div class="flex flex-col">
                        <span class="text-4xl font-light">{{secteur.nom}}</span>
                        <span class="font-medium text-gray-600 mt-3">Informations et statistiques sur {{secteur.nom}}</span>
                        <div class="mt-3">
                            <img src="{% static secteur.illustration %}" class="h-12 float-left mr-3">
                            <span class="text-gray-500 description truncated" id="description">{{secteur.description}}</span>
                            <button id="toggle-btn" class="text-blue-500 hover:underline">Afficher plus</button>
                            <button id="hide-btn" class="hidden text-blue-500 hover:underline">Masquer</button>
                        </div>
                    </div>
                </div>
                  

                <div class="flex flex-col rounded-lg w-1/3 border border-gray-200 shadow-custom p-6 overflow-auto max-h-72">
                    <a href="{% url 'liste_secteur' %}" class="font-medium text-gray-600">Secteurs</a>
                    <span class="text-blue-600 text-lg">{{secteur.nom}}</span>
                    <ul class="text-blue-600 text-sm list-disc list-inside">
                        {% for theme in secteur.themes.all %}
                            <li class="hover:underline">
                                <a href="{% url 'theme' theme.id %}">{{theme.nom}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="max-w-6xl w-full p-14 border border-gray-300">
            <div class="max-w-6xl mt-6 w-full">
                <div class="grid grid-cols-3 gap-3">
                    <div class="shadow-custom rounded p-3 w-full h-96 overflow-auto">
                        <div class="flex">
                            <div class="flex flex-col ml-3">
                                <span class="font-medium text-gray-600">STATISTIQUES RECENTES</span>
                                {% for infographie in infographies_recentes %}
                                    <a href="{% url 'infographie' infographie.id %}">
                                        <div class="flex items-center py-3 px-1 hover:bg-gray-100 rounded">
                                            <img src="{% static 'graphique.png' %}" class="h-6 mr-1">
                                            <span class="text-gray-600">{{infographie.titre}}</span>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="shadow-custom rounded p-3 w-full h-96 overflow-auto">
                        <div class="flex">
                            <div class="flex flex-col ml-3">
                                <span class="font-medium text-gray-600">STATISTIQUES POPULAIRES</span>
                                {% for infographie in infographies_populaires %}
                                    <a href="{% url 'infographie' infographie.id %}">
                                        <div class="flex items-center py-3 px-1 hover:bg-gray-100 rounded">
                                            <img src="{% static 'graphique.png' %}" class="h-6 mr-1">
                                            <span class="text-gray-600">{{infographie.titre}}</span>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="shadow-custom rounded p-3 w-full h-96 overflow-auto">
                        <div class="flex">
                            <div class="flex flex-col ml-3">
                                <span class="font-medium text-gray-600">ARTICLES POPULAIRES</span>
                                {% for article in articles_populaires %}
                                    <a href="{% url 'article' article.id %}">
                                        <div class="flex items-center py-3 px-1 hover:bg-gray-100 rounded">
                                            <img src="{% static 'article.png' %}" class="h-6 mr-1">
                                            <span class="text-gray-600">{{article.titre}}</span>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

        <div class="max-w-6xl w-full p-14 border border-gray-300">
            <form  method="POST" class="w-full">   
                 <div class="relative">
                     {% csrf_token %}
                     {{ form.result }}
                     <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">rechercher</button>
                 </div>
             </form> 
         </div>
    </div>
    {% include "partials/contact_block.html" %}

    {% block javascript %}
        {{ block.super}}
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock javascript %}
{% endblock body %}