<!DOCTYPE html>
<html lang="fr">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>InfoStat</title>

    {% block stylesheets %}
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.9/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
        <link href="{% static 'style.css' %}" rel="stylesheet" />
    {% endblock %}
</head>

<body>
    {% block header %}
        {% include "partials/header.html" %}
    {% endblock header %}

    {% block body %}
    {% endblock body %}

    {% block footer %}
        {% include "partials/footer.html" %}
    {% endblock footer %}

</body>
    {% block javascript %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    {% endblock javascript %}
</html>